/*.dashboard {
    display: flex;
    height: 100vh;
  }*/

.page-body {
  position: relative;
}
  
  /*.sidebar {
    width: 20%;
    /* Styles supplémentaires pour la sidebar
  }*/

.left-half {
  position: fixed;
  left: 0px
}

.right-half {
  position: absolute;
  display: flex;
  right: 10px;
}

.middle-half {
  position: fixed;
  right: 5px;
}
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .column-1 {
    width: 40%; /* Ajout d'une marge de 10px pour séparer les colonnes */
    padding-right: 10px; /* Ajout d'une marge de 10px pour séparer les colonnes */
    margin-bottom: 20px; /* Espacement entre les sections Évolution et Questionnaires */
    /* Styles supplémentaires pour la première colonne */
  }
  
  .column-2 {
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px; /* Ajout d'une marge de 10px pour séparer les colonnes */
  }
  
  .section {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid black; /* Ajout de la bordure */
  }
  
  /* Reste du code SCSS inchangé */  
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #4f23e2; /* Couleur de fond du header */
    color: white; /* Couleur du texte */
    padding: 10px;
  }
  
  .section-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    /* Styles supplémentaires pour le titre de section */
  }
  
  .section.evolution {
    /* ... */
    flex-grow: 2; /* Évolution occupe plus d'espace en hauteur */
    flex-shrink: 0; /* Empêche Évolution de rétrécir */
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    flex-basis: calc(60% + 10px); /* Largeur de 60% plus 10px */
  }
  
  .section.questionnaires {
    /* ... */
    flex-grow: 1; /* Questionnaires occupe moins d'espace en hauteur */
    flex-shrink: 0; /* Empêche Questionnaires de rétrécir */
    flex-basis: calc(30% + 10px); /* Largeur de 30% plus 10px */
    
  }
  
  .section.alerts {
    /* ... */
    margin-left: 40px; /* Espacement horizontal entre Évolution et Alertes */
    flex-basis: 100%;
    width: calc(40% - 10px); /* Largeur de 40% moins 10px */
  }
  