.sidebar-container {
  width: 60px;
  min-height: 100vh;
  background-color: #FFD2D5;
  transition: width 0.3s ease;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

  &.expanded {
    z-index: 9999;
    width: 200px;
  }

  .sidebar-menu {
    padding: 0;
    list-style-type: none;
    min-height: 100vh;

    .sidebar-menu-item {
      display: flex;
      align-items: center;
      padding: 10px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #37404b;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #4f23e2;
        font-size: 20px;
        margin-left: 10px;

        .sidebar-menu-item-icon {
          margin-right: 10px;
          font-size: 24px;
        }
      }
    }
  }
}

.horizontal-line {
  border-top: 2px solid #4f23e2;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px
}

#sidebar-profile {
  display: flex;
  flex-direction: row;
  padding: 25px;
  justify-content: space-around;
}

#profile-icon {
  width: 60px;
}

#profile-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  color: #4f23e2
}

.active {
  color: #FFD2D5;
  background: #4f23e2;
  border-radius: 50px;
}