.alert-box {
    margin: 10px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    min-height: 20%;
    min-width: 10%;
    max-height: 80%;
    max-width: 75%;
    width: 75%;
    background: white;
    border-color: black;
    border-radius: 5px;
    float: right;
    position: relative;
}

.alert-header {
    background: rgb(79, 35, 226);
    min-height: 50px;
    justify-content: center;
    display: flex;
}

.title {
    color: white;
}

.alert-body {
    min-height: 30px;;
}