.alert-box {
    margin: 10px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    min-width: 10%;
    max-height: 80%;
    max-width: 75%;
    width: 75%;
    background: rgb(79, 35, 226);    border-color: black;
    border-radius: 15px;
    float: right;
    position: relative;
}

.alert-header {
    min-height: 50px;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

.title {
    color: white;
}

.alert-body {
    min-height: 30px;
    color: white;
    margin-left: 10px;
}