.alert-box {
    margin: 10px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    min-width: 10%;
    max-height: 80%;
    max-width: 75%;
    width: 75%;
    background: white;
    border-color: black;
    border-radius: 5px;
    float: right;
    position: relative;
}

.alert-header {
    background: rgb(79, 35, 226);
    min-height: 50px;
    justify-content: center;
    display: flex;
}

.title {
    color: white;
}

.alert-body {
    min-height: 80px;
    max-height: 600px;
    overflow-y: auto;
}

.alert-message {
    border: 1px solid black;
    padding: 5px;
    justify-content: center;
    align-content: center;
    display: flex;
    word-wrap:normal;
}

.alert-title {
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: blueviolet;
    width:fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    display: inline-block;
}

.alert-file-btn {
    font-weight: bold;
    color: white;
    background-color: blueviolet;
    width:fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    align-self: flex-end;
    cursor: pointer;
}

.alert-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}