.AccountsTable {
    background-color: white;
    display: flexbox;
    flex-direction: column;
}

#titleTable {
    margin: auto;
    text-align: center;
    display: flex block;
}

#valHead1, #valHead2, #valHead3, #valHead4, #valHead5 {
    color: white;
}

#tableBlock {
    float: right;
    position: relative;
    display: flex;
    background-color: white;
    justify-content: center;
    margin: 2rem;
}

th {
    background: rgb(79, 35, 226);
}

table, td, th {
    text-align: center;
}

td, th {
    border: 1px solid black;
    height: 3.5rem;
}

th {
    border: 1px solid black;
    width: 12rem;
}

table {
    margin: auto;
    display: block;
    align-items: center;
    border-collapse: collapse;
}

.account-creation-space {
    background: white;
    float: right;
    display: block;
    justify-content: center;
}