.graph-box {
    width: 100%;
    height: 100%;
    background-color: #4F23E2;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    .graph-header {
        width: calc(100% - 28px);
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 18px;
        margin-right: 18px;
        align-items: center;

        .title {
            color: white;
            font-size: 30px;
            font-weight: 600;
            font-family: Inter;
        }

        .see-more {
            margin-top: 5px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            color: white;
            font-size: 18px;
            font-weight: 600;
            font-family: Inter;

            .img {
                margin-left: 4px;
            }
        }
    }

    .graph-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .graph-content {
            color: white;
            font-size: 18px;
            font-weight: 600;
            font-family: Inter;
        }
    }
}
