.account-submit-btn {
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: #8c52ff;
    width: 19.5rem;
    height: 3.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}