.account-pop-up-btn {
    height: 6.25rem;
    width: 14.375rem;
    border-radius: 1rem;
    background-color: rgb(79, 35, 226);
    color: white;
    font-size: large;
    margin-bottom: 1.5rem;
}

.account-pop-up-btn:disabled {
    background-color: #999; /* Couleur de fond pour le bouton désactivé */
    color: #666; /* Couleur du texte pour le bouton désactivé */
    /* Autres styles souhaités pour le bouton désactivé */
  }