#popup-box {
    background-color: white;
    position: absolute;
    left: 20%;
    top: 15%;
    width: 45rem;
    border-radius: 15px;
}

#p-box {
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgb(79, 35, 226);
}


.pop-content {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.pop-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop-input {
    font-size: large;
    margin-top: 1.5rem;
    width: 25rem;
    height: 4rem;
    background-color: rgb(230,230,230);
    border: 0;
    padding-left: 1rem;
    border-radius: 15px;
}

.pop-info {
    text-align: center;
    font-size: large;
}

.pop-input-file {
    font-size: large;
    margin-top: 1.5rem;
    width: 25rem;
    height: 4rem;
    background-color: rgb(230,230,230);
    border: 0;
    padding-left: 1rem;
    padding-top: 2rem;
    border-radius: 15px;
  }

  .pop-header {
    background-color: rgb(79, 35, 226);
    color: white;
    text-align: center;
    display: grid;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.btn-close {
    justify-self: end;
    background: transparent;
    color: white;
    border: transparent;
    border-radius: 15px;
    cursor: pointer;
}
