header {
    height:10%;
    width: 100%;
    background: rgb(79, 35, 226);
}

html, body {
    background: rgb(84, 84, 84);
    margin:0%;
}

.headerComp {
    height:5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: rgb(79, 35, 226);

}

.user-icon {
    object-fit:scale-down, contain;
    height: 7%;
    width: 7%;
    display: flexbox;
    margin-right: 3%;
    margin-left: 80%;
    justify-content: right;
}

.power-icon {
    object-fit:scale-down, contain;
    height: 7%;
    width: 7%;
    display: flexbox;
    margin-right: 0%;
    justify-content: right;
}

img {
    object-fit:scale-down, contain;
    height: 35%;
    width: 35%;
}