#header {
    height: 104px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 29px;

    #title {
        font-size: 30px;
        font-family: Inter;
        font-weight: 600;
        color: black;
    }

    #logo {
        object-fit: scale-down;
        width: 150px;
        height: 104px;
    }
}