.page-content {
    display: flex;
    flex-direction: row;
}

.table-div {
    padding-left: 15px;
}

.account-div {
    display: flex;
    flex-direction: column;
    right: 0;
    padding-top: 2rem;
    margin-right: 2rem;
    position: absolute;
}