.titre, .sous-titre {
  justify-content: center;
  display: flex;
  color: rgb(79, 35, 226);
}

body {
    margin: 0;
    font: georgia;
  }

  #auth-page {
    display: inline-block;
  }

  #auth-background-part {
    height: 100vh;
    top: 0;
    background-image: linear-gradient(to bottom, rgb(79, 35, 226), rgb(255, 210, 213));
    background-size: cover;
    width: 70%;
    float: left;
    #childrenImg {
      display: block;
      margin: 0 auto;
      width: 80%;
      height: 80%;
      align-self: center;
      float: center;
    }
  }

  #background-part {
    height: 100vh;
    top: 0;
    background-image: linear-gradient(to bottom, rgb(79, 35, 226), rgb(255, 210, 213));
    background-size: cover;
    width: 65%;
    float: left;
    #childrenImg {
      display: block;
      margin: 0 auto;
      width: 75%;
      height: 75%;
      align-self: center;
      float: center;
    }
  }

  #landing-part {
    background-color: white;
    text-align: center;
    float: right;
    height: 100vh;
    top: 0;
    width: 35%;
    #schoodLogo {
      display: block;
      margin: 0 auto;
      width: 70%;
      height: 25%;
    }
  }

  .input-label {
    display: flex;
    flex-direction: column;
  }

  #submit-button {
    font-weight: 500;
    font-size: large;
    margin-top: 10px;
    width: 80%;
    height: 8vh;
    background-color: rgb(79, 35, 226);
    color: white;
    border: 0;
    border-radius: 15px;
  }

  #auth-part {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    width: 30%;
    gap: 10px;
    label {
      color:rgb(79, 35, 226);
      font-weight: bold;
      font-size: larger;
      padding-top: 25px;
    }
    #schoodLogo {
      display: block;
      width: 90%;
      height: 30%;
    }
    .auth-input {
      font-size: large;
      width: 80%;
      height: 8vh;
      background-color: #FFD2D5;
      border-radius: 15px;
      border: 0;
      padding-left: 20px;
      margin-left: 20px;
    }
    #errorMessage {
      margin-top: 10px;
      color: red;
    }
    #signUpRedirect {
      position: bottom;
      color: rgb(79, 35, 226);
    }
  }