.chat-page {
  height: 100%;
  width: 100%;

  .content {
    margin-left: 29px;
    width: calc(100% - (29px * 2));
    height: calc(100% - 104px);

    .messaging-page {
      height: calc(100% - 29px);
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .chat-sidebar {
        box-sizing: border-box;
        border: 4px #4F23E2 solid;
        border-radius: 26px;
        height: 100%;
        width: 250px;

        .top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 5px;

          .new-conversation-button {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            width: 230px;
            cursor: pointer;
  
            background-color: white;
            border: 4px #4F23E2 solid;
            border-radius: 26px;
  
            color: black;
            font-size: 16px;
            font-family: Inter;
            font-weight: 600;
          }

          .divider {
            margin-top: 4px;
            height: 4px;
            width: 100%;
            background-color: #4F23E2;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          height: 100%;
          width: 100%;
          margin-left: 0px;

          .conversation-notification {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: red;
            margin-right: 5px;
          }
          
          .active-conversation {
            height: 71px;
            width: 100%;
            background-color: #4F23E2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            .text {
              color: white;
              font-size: 16px;
              font-family: Inter;
              font-weight: 600;
              margin-left: 10px;
            }
          }
  
          .conversation {
            height: 71px;
            width: 100%;
            background-color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
  
            .text {
              margin-left: 10px;
              color: #4F23E2;
              font-size: 16px;
              font-family: Inter;
              font-weight: 600;
            }
          }
        }
      }

      .chat {
        width: 100%;
        height: 100%;
        border: 4px #4F23E2 solid;
        border-radius: 26px;
        margin-left: 50px;
        box-sizing: border-box;
      }
    }
  }
}
