.form-container {
    background-color: white;
    border-radius: 5px;
    width: calc(100vw - 225px);
    min-width: 490px;
    display: grid;
    flex-direction: column;
    margin-top: 15px;
}

.form-header {
    background-color: blue;
    border-radius: 5px;
    width: 80%;
    justify-self: center;
    justify-content: center;
    display: flex;
    margin-top: 15px;


    .form-header-title {
        color: white;
        display: flex;
        justify-content: content;
    }
}

.different-page-content {
    display: flex;
    flex-direction: row;
}

.questions-container {
    display: flex;
    flex-direction: column;
}

.form-content-container {
    margin: 25px;
    gap: 25px;
}

.confirmation-form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
}

#parution-date-container {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

.date-input {
    font-size: large;
    width: 9rem;
    height: 4rem;
    background-color: rgb(230, 230, 230);
    border: 0;
    padding-left: 1rem;
}

.form-input {
    font-size: large;
    height: 4rem;
    background-color: rgb(230, 230, 230);
    border: 0;
    padding-left: 1rem;
    border-radius: 5px;
}

.title-container {
    background-color: #d9d9d9;
    border-radius: 5px;
    gap: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
}

.question-container {
    background-color: #d9d9d9;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.answer-row {
    padding-left: 10px;
    align-self: center;
    width: calc(70vw - 200px);
    min-width: 300px;
}

.emoji-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: -15px;
}

.emoji-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100px;
    height: 100px;
}

.answer-text {
    width: calc(70vw - 200px);
    min-width: 300px;
}

.validate-btn-container {
    margin-bottom: 25px;
    display: inline-grid;
    justify-content: center;
    margin-top: -10px;
}