.form-page {
    width: 100%;
    height: 100%;
    .content {
        margin-left: 29px;
        width: calc(100% - (29px * 2));
        height: calc(100% - 104px);

        .no-questionnaire {
            width: 100%;
            height: 100%;
            font-size: 24px;
            font-family: Inter;
            font-weight: 600;
            color: black;
        }

        .dateRange {
            width: 100%;
            height: 100%;
            .header {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: fit-content;
                font-size: 27px;
                font-family: Inter;
                font-weight: 600;
                color: black;
                white-space: nowrap;
                align-items: center;
                justify-content: start;

                .divider {
                    margin-left: 26px;
                    display: flex;
                    width: 100%;
                    height: 4px;
                    background-color: #4F23E2;
                }
            }

            .questionnaire {
                margin-top: 16px;
                display: flex;
                flex-direction: row;
                width: calc(100% - 8px);
                height: 83px;
                border-radius: 26px;
                border: 4px #4F23E2 solid;
                background-color: #EAEAEA;
                align-items: center;
                justify-content: space-between;

                .content-q {
                    width: 100%;
                    margin-right: 20px;
                    margin-left: 20px;
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;
                    font-family: Inter;
                    font-weight: 600;
                    color: black;
                    white-space: nowrap;
                    .link {
                        .right-arrow {
    
                        }
                    }
                }
            }
        }
    }
}