/* Sélection des boutons */
button.active {
    background-color: #4f23e2;
    color: white;
    border: 1px solid #4f23e2;
  }
  
  /* Date du jour */
  #dateFilter {
    background-color: white;
    color: black;
    border: 1px solid #4f23e2; /* Bordure tout le temps */
  }
  
  /* Bordure du dateFilter quand il est focus */
  #dateFilter:focus {
    border-color: #4f23e2; /* Changer la couleur de la bordure lorsqu'il est sélectionné */
  }
  
  /* Flèches pour changer de semaine/jour */
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  
  /* Graphique */
  canvas {
    color: white;
    background-color: #4f23e2;
    border-radius: 10px;
  }

  .chat-bubbles {
    display: flex;
    flex-direction: column;
    background-color: #4f23e2;
    border-radius: 15px;
    padding: 10px;
    align-items: flex-start; /* Alignez les bulles de chat à gauche */
  }
  
  .chat-bubble {
    background-color: rgb(255, 255, 255); /* Couleur de fond de la bulle */
    border-radius: 15px; /* Bord arrondi de la bulle */
    padding: 10px; /* Espace intérieur de la bulle */
    margin-bottom: 10px; /* Marge entre les bulles */
    max-width: 70%; /* Largeur maximale de la bulle */
    word-wrap: break-word; /* Coupe les mots longs qui dépassent */
  }
  
  .chat-bubble p {
    margin: 0; /* Réinitialiser les marges du paragraphe à l'intérieur de la bulle */
  }
  
  