#category-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.category-btn {
  max-width: 355px;
  height: 50px;
  box-shadow: 5px 5px 5px 0px lightgray;
  border: 1px solid lightgrey;
  border-radius: 15px;
  background-color: white;
  color: #4F23E2;
  font-size: 22px;
  font-family: Inter;
  cursor: pointer;
}

.selected-btn {
  border: 1px solid #4F23E2;
  border-radius: 15px;
  background-color: #4F23E2;
  color: white;
  font-size: 22px;
  font-family: Inter;
  cursor: pointer;
}

.category-btn:hover {
  border: 1px solid #4F23E2;
  border-radius: 15px;
  background-color: #4F23E2;
  color: white;
  font-size: 22px;
  font-family: Inter;
  cursor: pointer;
}

#help-container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

#filtered-contacts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  overflow: auto;
  box-shadow: 5px 5px 5px 0px lightgray;
  border: 1px solid lightgrey;
  max-height: calc(100vh - 225px);
  width: 40%;
  border-radius: 15px;
}

.contact-btn {
  width: 95%;
  min-height: 50px;
  align-items: center;
  padding-left: 20px;
  display: flex;
  background-color: white;
  color: #4F23E2;
  border-radius: 15px;
  font-size: 22px;
  font-family: Inter;
  cursor: pointer;
  padding: 10px;
}

.selected-contact-btn {
  width: 95%;
  min-height: 50px;
  border: 1px solid #4F23E2;
  background-color: #4F23E2;
  color: white;
  font-size: 22px;
  border-radius: 15px;
  font-family: Inter;
  padding: 10px;
  cursor: pointer;
}

.contact-btn:hover {
  width: 95%;
  min-height: 50px;
  border: 1px solid #4F23E2;
  background-color: #4F23E2;
  color: white;
  font-size: 22px;
  border-radius: 15px;
  font-family: Inter;
  padding: 10px;
  cursor: pointer;
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  overflow: auto;
}

.contact-content-container {
  box-shadow: 5px 5px 5px 0px lightgray;
  border: 1px solid lightgrey;
  border-radius: 15px;
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 15px;
  margin-left: 25px;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

#contact-profile {
  gap: 10px;
}

#contact-title {
  font-size: 30px;
}

.contact-element-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 18px;
}

.contact-element-title {
  margin: 0;
}

.contact-element-content {
  color: #4F23E2;
  margin: 0;
}