#category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.category-btn {
    width: 369px;
    height: 109px;
    border: 2px solid #4F23E2;
    border-radius: 15px;
    background-color: white;
    color: #4F23E2;
    font-size: 22px;
    font-family: Inter;
    cursor: pointer;
}

.category-btn:hover {
  border: 1px solid #4F23E2;
  border-radius: 15px;
  background-color: #4F23E2;
  color: white;
  font-size: 22px;
  font-family: Inter;
  cursor: pointer;
}

.contact-btn {
  min-width: 293px;
  height: 63px;
  border: 2px solid #4F23E2;
  border-radius: 15px;
  background-color: white;
  color: #4F23E2;
  font-size: 22px;
  font-family: Inter;
  cursor: pointer;
  margin: 10px;
}

.contact-btn:hover {
  border: 1px solid #4F23E2;
  border-radius: 15px;
  background-color: #4F23E2;
  color: white;
  font-size: 22px;
  font-family: Inter;
  cursor: pointer;
}

#filtered-contacts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  overflow-y: scroll;
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  overflow: scroll;
}

.contact-content-container {
  border: 2px solid #4F23E2;
  border-radius: 15px;
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 15px;
  margin: 25px;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

#contact-description {
  font-size: 33px;
  align-content: center;
  justify-content: center;
}

#contact-profile {
  gap: 10px;
}

#contact-title {
  font-size: 44px;
}

.contact-element-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

.contact-element-title {
  margin: 0;
}

.contact-element-content {
  color: #4F23E2;
  margin: 0;
}