.quest-box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20%;
    min-width: 10%;
    max-height: 80%;
    max-width: 75%;
    width: 75%;
    background: rgb(79, 35, 226);
    border-color: black;
    border-radius: 15px;
    float: right;
    position: relative;
  }

  .quest-header {
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    width: 100%;
  }

  .title {
    color: white;
    margin-left: 10px;
    font-weight: bold;
  }

  .quest-body {
    display: flex;
    min-height: 30px;
    width: 100%;
    justify-content: space-between;
  }

  .quest-previous,
  .quest-current {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
  }

  .quest-start,
  .quest-terminate {
    text-align: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 15px;
  }

  .green-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .orange-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
